html {
    background-image: url('download.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: whitesmoke;
}

button{
    background-image: url('download.jpg');
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
#img {
    width: 200px;
    height: 250px;
}
